# Frontend 
node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack

# Backend Go
backend/server
backend/*.exe
backend/*.dll
backend/*.so
backend/*.dylib
backend/tmp/
*.log

#ton
temp
build
package.ts

# VS Code
.vscode/*
.history/
*.vsix

# IDEA files
.idea

# VIM
Session.vim
.vim/

# Other private editor folders
.nvim/
.emacs/
.helix/

.prettierignore
.prettierrc

